/*
* Easy Modal
* http://wizardinternetsolutions.com/project/easy-modal/
*/
.settings_page_easy-modal .full{width:100%;}
.settings_page_easy-modal .half{width:49%;float:left;}
.settings_page_easy-modal .half.last{float:right;}
.settings_page_easy-modal span.description{font-weight:normal;margin-top:2px;display:block;}
.settings_page_easy-modal input[type=radio]{margin:0 5px;}
.settings_page_easy-modal input[type=radio]+h5{margin-right: 15px;}
.settings_page_easy-modal .submit{border:none; padding:0;margin:5px 0;display:block;clear:both;overflow:auto;}
.settings_page_easy-modal input[type=submit]{float:right;}
.settings_page_easy-modal h5{display:inline-block;margin:0;}
.settings_page_easy-modal h4{margin:10px 0 5px;}