/*
* Easy Modal
* http://wizardinternetsolutions.com/project/easy-modal/
*/

/* Overlay */
#eM-overlay {background-color:#000; cursor:wait;}

/* Container */
#eM-container {font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; width:450px;}
.eM-content {background-color:#333; color:#ddd;}
.eM-title {color:#d76300; font-size:20px; line-height:20px; margin:0; padding:0 0 6px 12px; text-align:left;}